Thumbs.db
.DS_Store
*.pem

back-todo/HELP.md

.idea/
.vscode/
*.iml
*.ipr
*.iws

.env
.env.*
*.env
back-todo/application-local.properties
back-todo/application-prod.properties

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

**/node_modules/
**/.pnp
**/.pnp.*
**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/versions
**/.next/
**/out/
**/build/
**/coverage/
**/.vercel/
**/*.tsbuildinfo

**/target/

.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/